<div class="inner">
    <div class="unit size4of4 lastUnit">
        <a href="https://www.kajoolt.com/hejmo/" class="brand" rel="home">
            <h1>K'ajóolt</h1>

            <p>WikiJool</p>

        </a>

        <nav class="primary">
            <span class="nav-open-button">²</span>
            <ul>

                <li class="current"><a href="https://www.kajoolt.com/hejmo/inicio/" title="K&#39;ajóolt">K'ajóolt</a></li>

                <li class="link"><a href="https://www.kajoolt.com/hejmo/noticias/" title="Noticias">Noticias</a></li>

                <li class="link"><a href="https://www.kajoolt.com/hejmo/eventos/" title="Events">Events</a></li>

                <li class="link"><a href="https://www.kajoolt.com/hejmo/sitios/" title="Sitios">Sitios</a></li>

                <li class="link"><a href="https://www.kajoolt.com/hejmo/academia/" title="Academia">Academia</a></li>

                <li class="link"><a href="https://www.kajoolt.com/hejmo/contact-us/" title="Contact Us">Contact Us</a></li>

                <li class="link"><a href="https://www.kajoolt.com/hejmo/acercade/" title="Acerca de ...">Acerca de ...</a></li>

            </ul>
        </nav>

    </div>
</div>