<div class="content-container unit size3of4 lastUnit">
    <article>
        <h1>K'ajóolt</h1>
        <div class="content">
            <h4 style="padding-left: 60px;"><img src="./K&#39;ajóolt » K&#39;ajóolt_files/scientia__ResizedImageWzc0LDc0XQ.png" alt="" width="74" height="74" class="left ss-htmleditorfield-file image"></h4>
            <p style="padding-left: 60px;">K'ajóolt pública artículos de investigación y divulgación en diversas areas del conocimiento. Temas incluyen, conceptos fundamentales de Ciencia, Tecnológia, Educación y Humanidades con el fín de ayudar a la comunidad en general. Especialemente
                a estudiantes que están en sus inicios de formación profesional.&nbsp;&nbsp;</p>
            <p style="padding-left: 60px;">&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <h3>Protocolo:&nbsp; Maestría en Filosofia Contemporanea</h3>
            <ul>
                <li><a title="Lesniewski" rel="noopener" href="https://www.kajoolt.com/hejmo/assets/01-2021.10.00-Protocolo.pdf" target="_blank">Lesniewski</a></li>
            </ul>
            <p>&nbsp;</p>
            <p>___________________________________________</p><pre><strong>Nota.-<br>K'ajóolt</strong>: De la palabra Maya K'ajóol; <br><strong>Conocer</strong>.-v.t. K’ajóol, k’ajóol, ojelt, ojel.<br><strong>Conocimiento</strong>.- sus. K'ajóolal, K'ajóolo, yits'atil.<br><strong>Recuerde</strong>.- K'ajoólt.</pre></div>
    </article>

</div>